<div class="container-fluid">
  <div class="row melcolor">
    <div class="col melcolor" >
      <div class="melcolor" id="who" style="width: 60rem;">
        <div class="login-form" style="padding-top: 50px;">
          <%= form_for @user do |f| %>
            <div class="avatar">
            </div>
            <h2></h2>
            <div class="form-group">
              <%= f.label :username %>
              <%= f.text_field :username, class: "form-control", placeholder: "Username" %>
            </div>
            <div class="form-group">
              <%= f.label :email %>
              <%= f.email_field :email, class: "form-control", placeholder: "Enter email" %>
            </div>
            <div class="form-group">
              <%= f.label :password %>
              <%= f.password_field :password, class: "form-control", placeholder: "Password" %>
            </div>
            <%= f.submit 'Sign Up', class: "btn btn-primary btn-lg btn-block" %>
          <% end %>
            <p class="text-center small">Already have an account? <a href="/login">Log in here!</a></p>
            <div class="col melcolor">
            </div>
        </div>
      </div>
    </div>
  </div>
</div>
