<p>posts is saved</p>

<div class="card fluid p-4">
<% @posts.each do |p| %>
  <%= p.choice %><br>
  <%= simple_format(p.body) %><br>
  <%= p.address %><br>
  <%= User.find(p.user_id).username %><br>
  <%= time_calculation(p.created_at) %>
  <div>
 <%= image_tag "http://maps.googleapis.com/maps/api/staticmap?center=#{p.latitude},#{p.longitude}&markers=#{p.latitude},#{p.longitude}&zoom=17&size=320x200&key=#{ENV['GOOGLE_API_KEY']}",
   class: 'img-fluid img-rounded', alt: '#{p.address} on the map'%>
   </div>
   <div class="col-sm" align="center">
      <%= link_to 'Update', edit_post_path(p), :class => "btn btn-outline-light" %>
      </div>
  <% end %>
</div>
