<p>posts is saved</p>

<div class="card fluid p-4">
<% @posts.each do |p| %>
  <%= p.choice %><br>
  <%= simple_format(p.body) %><br>
  <%= p.address %><br>
  <%= p.created_at %><br>
  <%= User.find(p.user_id).username %>
  <div>
 <%= image_tag "http://maps.googleapis.com/maps/api/staticmap?center=#{p.latitude},#{p.longitude}&markers=#{p.latitude},#{p.longitude}&zoom=17&size=640x400&key=#{ENV['GOOGLE_API_KEY']}",
   class: 'img-fluid img-rounded', alt: '#{p.address} on the map'%>
   </div>
  <% end %>
</div>
