<p>posts is saved</p>

<div class="card fluid p-4">
<% @posts.each do |p| %>
  <%= p.choice %><br>
  <%= simple_format(p.body) %><br>
  <%= p.address %><br>
  <%= p.created_at %><br>
  <%= User.find(p.user_id).username %>
  <% end %>
  <%= ENV['GOOGLE_API'] %>
  <img src="https://maps.googleapis.com/maps/api/staticmap?center=Brooklyn+Bridge,New+York,NY&zoom=13&size=600x300&maptype=roadmap&markers=color:blue%7Clabel:S%7C40.702147,-74.015794&markers=color:green%7Clabel:G%7C40.711614,-74.012318&markers=color:red%7Clabel:C%7C40.718217,-73.998284&key=AIzaSyDGft-c4Wqh6xVlzgPxjeEdcb8gSjkZVC8">
</div>
