<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script type="text/javascript">

    $(document).ready(function() {
      $('#mol_toggle').change(function (){
        if(this.checked)
          $('.Emotion').hide() && $('.Action').show();
        else
          $('.Emotion').show() && $('.Action').hide();
      })
    });

    </script>

      <div class="container fluid" align="left">
        <input class="toggle" id="mol_toggle" type="checkbox" />
        <%= link_to '+', new_post_path, class: "btn btn-secondary btn-circle float-right", style: "padding-top: 2px", id: "new_post" %>
      </div>

<br><br><br>
<% @posts.each do |p| %>
<div class="card fluid p-4 <%= p.choice %>">

    <p class="post_username"><%= User.find(p.user_id).username %></p>
    <div class="d-flex justify-content-between">
    <p class="post_choice"><%= p.choice %></p>
    <p class="post_time"><%= time_calculation(p.created_at) %></p>
    </div>
    <p><%= simple_format(p.body, class: 'text-center') %></p>

  <div class="container fluid">
  <figure class="figure">
    <%= image_tag "http://maps.googleapis.com/maps/api/staticmap?center=#{p.latitude},#{p.longitude}&markers=#{p.latitude},#{p.longitude}&zoom=17&size=640x200&key=#{ENV['GOOGLE_API_KEY']}",
   class: 'figure-img img-fluid', alt: '#{p.address} on the map'%>
   <figcaption class="figure-caption text-right"><%= p.address %></figcaption>
   </figure>
  </div>
  <% if current_user.username == p.user.username %>
  <div class="container">
    <div class="row text-center">
      <div class="col-lg">
      <%= link_to 'Update', edit_post_path(p), :class => "btn btn-tertiary" %>
      </div>
      <div class="col-lg">
      <%= link_to 'Delete', post_path(p), :class => "btn btn-tertiary",
      method: :delete,
      data: { confirm: 'Are you sure?' } %>
      </div>
    </div>
  </div>
  <% else %>

  <% end %>
</div>
<br class="<%= p.choice %>">
<br class="<%= p.choice %>">
<br class="<%= p.choice %>">
<br class="<%= p.choice %>">
<% end %>


