<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script type="text/javascript">

    $(document).ready(function() {
      $('#mol_toggle').change(function (){
        if(this.checked)
          $('.Emotion').hide();
        else
          $('.Emotion').show();
      })
    });

    </script>

      <div class="container fluid" align="center">
        <input class="toggle" id="mol_toggle" type="checkbox" />
      </div>

<br><br>
<% @posts.each do |p| %>
<div class="card fluid p-4 <%= p.choice %>">

    <p class="card-link post_choice"><%= p.choice %></p>
    <p class="post_avatar post_username"><%= User.find(p.user_id).username %></p>
    <p class="card-link post_time"><%= time_calculation(p.created_at) %></p>
    <br><br>
    <p class="p-2"><%= simple_format(p.body, class: 'text-center') %></p>
    
  <div class="container fluid">
  <figure class="figure">
    <%= image_tag "http://maps.googleapis.com/maps/api/staticmap?center=#{p.latitude},#{p.longitude}&markers=#{p.latitude},#{p.longitude}&zoom=17&size=640x200&key=#{ENV['GOOGLE_API_KEY']}",
   class: 'figure-img img-fluid', alt: '#{p.address} on the map'%>
   <figcaption class="figure-caption text-right"><%= p.address %></figcaption>
   </figure>
  </div>
  <% if current_user.username == p.user.username %>
  <div class="container fluid">
    
      <%= link_to 'Update', edit_post_path(p), :class => "btn btn-outline-secondary" %>
   
      <%= link_to 'Delete', post_path(p), :class => "btn btn-outline-secondary",
      method: :delete,
      data: { confirm: 'Are you sure?' } %>
   
    </div>
  <% else %>

  <% end %>
</div>
<br><br><br><br>
<% end %>

