<h1>Create a new post<h1>


  <%= form_for(@post) do |form| %>

    <p>
      <%= form.label :choice %><br>
      <%= form.text_area :choice %><br>
      <%= form.label :post %><br>
      <%= form.text_area :body %><br>
      <%= form.label :address %><br>
      <%= form.text_area :address %>
    </p>

    <p>
      <%= form.submit "Create"%>
    </p>
  <% end %>
