<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>TapMe</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src='https://api.tiles.mapbox.com/mapbox-gl-js/v1.1.0/mapbox-gl.js'></script>
    <link href='https://api.tiles.mapbox.com/mapbox-gl-js/v1.1.0/mapbox-gl.css' rel='stylesheet' />
  </head>

  <header>
    <nav>
    <% if logged_in? %>
    <li class="nav-item">
        <%= link_to 'Log Out', logout_path, class: "nav-link", method: :delete %>
    </li>
    <% end %>
    </nav>
  </header>

  <body>
  <div class="container">
    <div class="row justify-content-md-center">
      <div class="col col-lg-2">
      </div>
      <div class="col-md-auto">
      <div class="container fluid">
        <div class="container fluid" align="center">
        <img src="https://user-images.githubusercontent.com/16557524/60904812-a54d0780-a26b-11e9-8cdc-a4b3ccfba0fd.png" class="img-fluid" style="align: center;">
      </div>

      <%= yield %>
      </div>
      </div>
      <div class="col col-lg-2">
      </div>
    </div>
  </div>
  </body>
</html>
