<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>TapMe</title>
    <%= include_gon %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.4/jquery-ui.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src='https://api.mapbox.com/mapbox-gl-js/v1.0.0/mapbox-gl.js'></script>
    <link href='https://api.mapbox.com/mapbox-gl-js/v1.0.0/mapbox-gl.css' rel='stylesheet' />
  </head>

  <header>
  <% if logged_in? %>
  <nav class="navbar navbar-expand-lg navbar-light bg-white">

  <!-- Collapse button -->
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon">
    </span>
  </button>
  <!-- Collapsible content -->
  <div class="collapse navbar-collapse" id="navbarNav">
  <ul class="navbar-nav">
    <li class="nav-item">
      <%= image_tag('tap_me_logo_p.png', :alt => 'Tap me logo', :style => 'height: 40px') %>
    </li>
    <li class="nav-item">
      <%= link_to 'Posts', posts_path, :class => "nav-link" %>
    </li>
    <li class="nav-item">
      <%= link_to 'About', about_path, :class => "nav-link" %>
    </li>
    <li class="nav-item dropdown">
      <button onclick="myFunction()" class="dropbtn">Settings ▾</button>
      <div id="myDropdown" class="dropdown-content">
      <%= link_to 'Delete Account', user_path(current_user), class: "nav-link", :style => "color: #f56d74",
        method: :delete,
        data: { confirm: 'Are you sure?' } %>
    </li>
    <li class="nav-item">
      <%= link_to 'Log Out', logout_path, :class => "nav-link", method: :delete %>
    </li>
    </ul>

  </div>
  </nav>
  <% if current_page?(posts_path) %>
  <%= render 'map' %>
  <% end %>
  <% end %>
  <ul class="navbar-nav mr-auto">
    <li class="nav-item">
    <% if flash[:success] %>
      <div class="alert alert-success alert-dismissible fade show" role="alert">
        <%= flash[:success] %>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
    <% end %>

    <% if flash[:error] %>
      <div class="alert alert-danger alert-dismissible fade show" role="alert">
        <%= flash[:error] %>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
    <% end %>
    </li>
  </ul>
</header>

  <body>

  <div class="container">
    <div class="row justify-content-md-center">
      <div class="col col-lg-2">
      </div>
      <div class="col-md-auto">
      <div class="container fluid">
        <div class="container fluid" align="center">
        <img src="https://user-images.githubusercontent.com/16557524/61187400-a2398900-a668-11e9-9855-84c3ded1eee7.png" class="img-fluid" style="align: center;">
      </div>

      <%= yield %>
      </div>
      </div>
      <div class="col col-lg-2">
      </div>
    </div>
  </div>
  </body>

</html>
