<!DOCTYPE html>
<html>
  <head>
    <title>TapMe</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <header>

    <% if logged_in? %>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <ul class="nav">
      <li>
        <%= image_tag('tap_me_logo_p.png', :alt => 'Tap me logo', :style => 'height: 40px') %>
      </li>
    <li>
      <%= link_to 'Posts', posts_path, :style => "color: #f56d74", :class => "nav-link #{active_class('posts', 'index')}" %>
    </li>
    <li>
      <%= link_to 'Settings', posts_path, :style => "color: #f56d74", :class => "nav-link #{active_class('posts', 'index')}" %>
    </li>
    <li>
      <%= link_to 'Log Out', logout_path, :style => "color: #f56d74", class: "nav-link", method: :delete %>
    </li>
    </ul>
    </nav>
    <% end %>

  </header>

  <body>
  <div class="container">
    <div class="row justify-content-md-center">
      <div class="col col-lg-2">
      </div>
      <div class="col-md-auto">
      <div class="container fluid">
        <div class="container fluid" align="center">
        <img src="https://user-images.githubusercontent.com/16557524/60904812-a54d0780-a26b-11e9-8cdc-a4b3ccfba0fd.png" class="img-fluid" style="align: center;">
      </div>

      <%= yield %>
      </div>
      </div>
      <div class="col col-lg-2">
      </div>
    </div>
  </div>
  </body>
</html>
